<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @show_editable_fields %>
    <div class="field">
      <%= f.label :name %> <span class="required">*</span><br />
      <%= f.text_field :name %>
      <%= f.collection_select :gender, Message::USER_GENDER, :gender_index, :gender_name %>
    </div>
    <div class="field">
      <%= f.label :phone_number %> <span class="required">*</span><br />
      <%= f.text_field :phone_number %>
    </div>
    <div class="field">
      <%= f.label :qq_number %><br />
      <%= f.text_field :qq_number %>
    </div>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %> <span class="required">*</span><br />
      <%= f.text_area :content, :cols => 90, :rows => 10 %>
    </div>
  <% end %>
  <% if !@visible_to.nil? %>
    <div class="field">
      <%= f.label :visible_to %> <%= link_to t('message.Make_Public'), 'javascript:;', id: 'make_public', class: 'link' %><br />
  	<% User.all.each do |user| %>
  	<%= check_box_tag "visible_to[]", user.id, @visible_to.where("flagger_id = ?", user.id).present?, :id => "visible_to_#{user.id}" %>
  	<%= label_tag "visible_to_#{user.id}", "[#{t('role.'+user.role)}] #{user.username} <#{user.email}>" %><br />
  	<% end %>
    </div>
  <% end %>
  <div class="separator"></div>
  <div class="actions">
    <%= f.submit %>
    <% if @message.id %>
      <%= link_to t('message.Back_to_Message'), @message, :class => "button_link" %>
    <% end %>  
    <%= link_to t('message.Back_to_List'), messages_path, :class => "button_link" %>
    <span class="required">*</span>: <%= t "required" %>
  </div>
<% end %>
