<table class="list">
  <thead>
    <tr>
      <% if is_admin? %><th class="cb"><%= check_box_tag "select", "", false, id: "msgs_select" %></th><% end %>
      <th class="id">ID</th>
      <th class="title"><%= t "helpers.label.message.title" %></th>
      <th class="date"><%= t "message.date" %></th>
      <th class="name"><%= t "helpers.label.message.name" %></th>
      <th><%= t "helpers.label.message.content" %></th>
      <th colspan="2"><%= t "message.visibility" %>/<%= t "message.actions" %></th>
    </tr>
  </thead>
  <tbody>
<% @messages.each do |message| %>
    <tr class="<% if is_admin? %>msgcb<% end %>">
      <% if is_admin? %><td class="cb"><%= check_box_tag "messages[]", message.id, false, id: "messages_#{message.id}" %></td><% end %>
      <td class="id"><%= message.id %></td>
      <td class="title"><%= link_to truncate(message.title.presence || "(untitled)", :length => 20), message, :class => "link" %></td>
      <td class="date"><%= l message.created_at, format: "%Y-%m-%d %H:%M:%S" %></td>
      <td class="name">
        <%= t 'message.display_name', gender: t("gender.#{Message::USER_GENDER.try(:[], message.gender)}"), name: truncate(message.name, :length => 15) %>
      </td>
      <td><%= truncate message.content, :length => 30 %></td>
      <td class="visible_to">
        <% if message["flaggers"] == 0 %>
          <%= t 'message.All' %>
        <% else %>
          <% if is_user? %>
            <% if message["flaggers"] == 1 %>
              <%= t 'message.Only_you' %>
            <% else %>
              <%= t 'message.You_and_others', count: message["flaggers"] - 1 %>
            <% end %>
          <% else %>
            <%= t "user.users", count: message["flaggers"] %>
          <% end %>
        <% end%>
      </td>
      <td class="list_actions">
        <% if current_user.present? %>
          <% if %w(admin moderator).include? current_user.role %>
            <%= link_to t('Edit'), edit_message_path(message), :class => "button_link" %>
          <% end %>
          <% if is_admin? %>
            <%= link_to t('Delete'), message, method: :delete, data: { confirm: t('message.delete.confirm') }, :class => "button_link" %>
          <% end %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate @messages, :inner_window => 3, :previous_label => '&laquo;', :next_label => '&raquo;', :renderer => 'PaginationListLinkRenderer' %>

<div class="separator"></div>
