<h1>Listing messages</h1>

<table class="list">
  <thead>
    <tr>
      <th class="id">ID</th>
      <th class="title">Title</th>
      <th class="date">Date</th>
      <th class="name">Name</th>
      <th>Content</th>
      <th colspan="2">Visibility/Actions</th>
    </tr>
  </thead>
  <tbody>
<% @messages.each do |message| %>
    <tr>
      <td class="id"><%= message.id %></td>
      <td class="title"><%= link_to truncate(message.title.presence || "(untitled)", :length => 20), message, :class => "link" %></td>
      <td class="date"><%= l message.created_at, format: "%Y-%m-%d %H:%M:%S" %></td>
      <td class="name"><%= Message::USER_GENDER.try(:[], message.gender) %> <%= truncate message.name , :length => 15 %></td>
      <td><%= truncate message.content, :length => 30 %></td>
      <td class="visible_to">
        <% if message["flaggers"] == 0 %>
          All
        <% else %>
          <% if current_user.present? and current_user.role == "user" %>
            <% if message["flaggers"] == 1 %>
              Only you
            <% else %>
              You and <%= message["flaggers"] - 1 %> others
            <% end %>
          <% else %>
            <%= pluralize(message["flaggers"], "user") %>
          <% end %>
        <% end%>
      </td>
      <td class="list_actions">
        <% if current_user.present?%>
          <% if %w(admin moderator).include? current_user.role %>
            <%= link_to 'Edit', edit_message_path(message), :class => "button_link" %>
          <% end %>
          <% if current_user.role == "admin" %>
            <%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button_link" %>
          <% end %>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate @messages, :inner_window => 3, :previous_label => '&laquo;', :next_label => '&raquo;', :renderer => 'PaginationListLinkRenderer' %>

<div class="separator"></div>

<div class="actions">
  <%= link_to 'New Message', new_message_path, :class => "button_link" %>
</div>
