<p>
  <b>Name:</b>
  <%= @message.name %>
</p>

<p>
  <b>Gender:</b>
  <%= Message::USER_GENDER.try(:[], @message.gender) %>
</p>

<p>
  <b>Phone number:</b>
  <%= @message.phone_number %>
</p>

<p>
  <b>Qq number:</b>
  <%= @message.qq_number %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Visible to:</b><br />
  <% if @message.visible_to.empty? %>
  	All
  <% else %>
    <% @message.visible_to.each do |v| %>
  		<% user = User.find(v.flagger_id) %>
			[<%= user.role %>] <%= user.username %> &lt;<%= user.email %>&gt;<br />
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
