<h1>Message details</h1>

<div class="field">
  <b>Created at:</b>
  <%= @message.created_at %>
</div>

<div class="field">
  <b>IP address:</b>
  <%= @message.ip_address %> (<%= @message.ip_info.presence || "n/a" %>)
</div>

<div class="field">
  <b>Name:</b>
  <%= @message.name %>
</div>

<div class="field">
  <b>Gender:</b>
  <%= Message::USER_GENDER.try(:[], @message.gender) %>
</div>

<div class="field">
  <b>Phone number:</b>
  <%= @message.phone_number %>
</div>

<div class="field">
  <b>Qq number:</b>
  <%= @message.qq_number.presence || "(not provided)" %>
</div>

<div class="field">
  <b>Title:</b>
  <%= @message.title.presence || "(untitled)" %>
</div>

<div class="field">
  <b>Content:</b>
  <%= simple_format @message.content %>
</div>

<div class="field">
  <b>Visible to:</b><br />
  <% if current_user.present? %>
  <% if %w(admin moderator).include? current_user.role %>
    <% if @message.visible_to.empty? %>
    	All
    <% else %>
      <% @message.visible_to.each do |v| %>
    		<% user = User.find(v.flagger_id) %>
  			[<%= user.role %>] <%= user.username %> &lt;<%= user.email %>&gt;<br />
      <% end %>
    <% end %>  
  <% else %>
    <% if @message.visible_to.count == 0 %>
      All
    <% else %>
      <% if current_user.present? and current_user.role == "user" %>
        <% if @message.visible_to.count == 1 %>
          Only you
        <% else %>
          You and <%= @message.visible_to.count - 1 %> others
        <% end %>
      <% else %>
        <%= pluralize(@message.visible_to.count, "user") %>
      <% end %>
    <% end%>
  <% end %>
  <% end %>
</div>

<div class="separator"></div>

<div class="actions">
  <% if %w(admin moderator).include? current_user.role %>
    <%= link_to 'Edit Message', edit_message_path(@message), :class => "button_link" %>
  <% end %>
  <%= link_to 'Back to List', messages_path, :class => "button_link" %>
</div>
