<h1><%= t "message.Message_Details" %></h1>

<div class="field">
  <b><%= t "helpers.label.message.created_at" %>:</b>
  <%= @message.created_at %>
</div>

<div class="field">
  <b><%= t "helpers.label.message.ip_address" %>:</b>
  <%= @message.ip_address %> (<%= @message.ip_info.presence || t("n/a") %>)
</div>

<div class="field">
  <b><%= t "helpers.label.message.name" %>:</b>
  <%= @message.name %>
</div>

<div class="field">
  <b><%= t "helpers.label.message.gender" %>:</b>
  <%= t "gender.#{Message::USER_GENDER.try(:[], @message.gender)}" %>
</div>

<div class="field">
  <b><%= t "helpers.label.message.phone_number" %>:</b>
  <%= @message.phone_number %>
</div>

<div class="field">
  <b><%= t "helpers.label.message.qq_number" %>:</b>
  <%= @message.qq_number.presence || "(#{t("message.not_provided")})" %>
</div>

<div class="field">
  <b><%= t "helpers.label.message.title" %>:</b>
  <%= @message.title.presence || "(#{t("message.untitled")})" %>
</div>

<div class="field">
  <b><%= t "helpers.label.message.content" %>:</b>
  <%= simple_format @message.content %>
</div>

<div class="field">
  <b><%= t "helpers.label.message.visible_to" %>:</b><br />
  <% if current_user.present? %>
  <% if %w(admin moderator).include? current_user.role %>
    <% if @message.visible_to.empty? %>
    	<%= t 'message.All' %>
    <% else %>
      <% @message.visible_to.each do |v| %>
    		<% user = User.find(v.flagger_id) %>
  			[<%= t "role.#{user.role}" %>] <%= user.username %> &lt;<%= user.email %>&gt;<br />
      <% end %>
    <% end %>  
  <% else %>
    <% if @message.visible_to.count == 0 %>
      <%= t 'message.All' %>
    <% else %>
      <% if is_user? %>
        <% if @message.visible_to.count == 1 %>
          <%= t 'message.Only_you' %>
        <% else %>
          <%= t 'message.You_and_others', count: @message.visible_to.count - 1 %>
        <% end %>
      <% else %>
        <%= t "user.users", count: @message.visible_to.count %>
      <% end %>
    <% end%>
  <% end %>
  <% end %>
</div>

<div class="separator"></div>

<div class="actions">
  <% if %w(admin moderator).include? current_user.role %>
    <%= link_to t('message.Edit_Message'), edit_message_path(@message), :class => "button_link" %>
  <% end %>
  <%= link_to t('message.Back_to_List'), messages_path, :class => "button_link" %>
</div>
