<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %> <span class="required">*</span><br />
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize, :selected => @user.role.presence || User::ROLES.last %>
  </div>
  <div class="field">
    <%= f.label :username %> <span class="required">*</span><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %> <span class="required">*</span><br />
    <%= f.text_field :email, default: "12345@qq.com" %>
  </div>
  <div class="field">
    <%= f.label :password %><% unless @user.id %> <span class="required">*</span><% end %><br />
    <%= f.password_field :password %>
  </div>
  <div class="separator"></div>
  <div class="actions">
    <%= f.submit %>
    <% if @user.id %>
      <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button_link" %>
      <%= link_to 'Back to User', @user, :class => "button_link" %>
    <% end %>
    <%= link_to 'Back to List', users_path, :class => "button_link" %>
    <span class="required">*</span>: required
  </div>
<% end %>
