<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t "user.error_saving", :count => @user.errors.count %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :role %> <span class="required">*</span><br />
    <%= f.collection_select :role, User::ROLES, :to_s, :role_name, :selected => @user.role.presence || User::ROLES.last %>
  </div>
  <div class="field">
    <%= f.label :username %> <span class="required">*</span><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %> <span class="required">*</span><br />
    <%= f.text_field :email, default: "12345@qq.com" %>
  </div>
  <div class="field">
    <%= f.label :password %> <% if @user.id %><i>(<%= t 'user.you_can_leave_this_blank' %>)</i><% else %><span class="required">*</span><% end %><br />
    <%= f.password_field :password %>
  </div>
  <div class="separator"></div>
  <div class="actions">
    <%= f.submit %>
    <% if @user.id %>
      <%= link_to t('Delete'), @user, method: :delete, data: { confirm: t("user.delete.confirm") }, :class => "button_link" %>
      <%= link_to t('user.Back_to_User'), @user, :class => "button_link" %>
    <% end %>
    <%= link_to t('user.Back_to_List'), users_path, :class => "button_link" %>
    <span class="required">*</span>: <%= t 'required' %>
  </div>
<% end %>
