<h1>Listing users</h1>

<table class="list">
  <tr>
    <th>ID</th>
    <th>Role</th>
    <th>Username</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.id %></td>
    <td><%= user.role %></td>
    <td><%= link_to user.username, user, :class => "link" %></td>
    <td><%= user.email %></td>
    <td class="list_actions">
      <%= link_to 'Edit', edit_user_path(user), :class => "button_link" %>
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button_link" %>
    </td>
  </tr>
<% end %>
</table>

<div class="separator"></div>

<div class="actions">
  <%= link_to 'New User', new_user_path, :class => "button_link" %>
</div>
